#adHolder {
	position:absolute;
	overflow:hidden;
	width:234px;
	height:68px;
	bottom:0;
	opacity:.8;
	width:100%
}

#adBlock {
	display:none;
	position:absolute;
	overflow:hidden;
	width:234px;
	height:8px;
	bottom:0;
    left:50%;
}

#adBlockOpen {
	background-color:#000;
	color:rgba(255,255,255,.5);
	width:80px;
	height:4px;
	padding:4px 0 0 0;
	left:50%;
	margin:auto;
	font-weight:bold;
	font-family:ariel, san-serif;
	text-align:center;
	line-height:0;
	border-radius: 6px 6px 0 0;
	cursor:default;
}

#adBlockOpen p {
	margin-top:-4px;
}
