html {
	background: center / cover no-repeat #eee url(../images/background.jpg);
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', serif;
}

footer {
	color: rgba(255, 255, 255, .5);
	text-shadow: .0em .0em .3em rgba(0, 0, 0, 1), .0em .0em .3em rgba(0, 0, 0, 1), .0em .0em .3em rgba(0, 0, 0, 1) ;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

#clock {
	box-shadow: .03em .03em .04em rgba(255, 255, 255, .5),  -.03em -.03em .04em rgba(0, 0, 0, .5), inset .03em .03em .04em rgba(255, 255, 255, .5),  inset -.03em -.03em .04em rgba(0, 0, 0, .5);
	background-color: rgba(255, 255, 255, .3);
	border: .05em solid rgba(0, 0, 0, .7) ;
	border-radius:.2em;
	color: rgba(0, 0, 0, .5);
	text-shadow: .02em .02em .03em rgba(255, 255, 255, .6),  -.0em -.0em .02em rgba(0, 0, 0, .6);
	width: 80%;
	text-align: center;
	vertical-align: middle;
	margin: .5em auto;
}

#clock div { 
	display: inline-block;
	margin: .25em .5em;
}

#clock div p {
	margin: auto;
}

#socialBar {
	display:none;
	position: fixed;
	margin: 0;
	top:0;
	margin-top:-30px;
	text-align: center;
	background-color: rgba(0, 0, 0, .5);
	padding: 5px 10px;
	border-radius: 0 0 6px 6px;
	white-space: nowrap;
    left:50%;
}

#socialBar > * {
    margin:5px 0;
}

.info {
	margin-left:10px;
}

#socialBarOpen {
	position:absolute;
	background-color:rgba(0,0,0,.5);
	color:rgba(255,255,255,.5);
	width:80px;
	height:2px;
	padding:0 0 2px 0;
	left:50%;
	margin-left:-40px;
	font-weight:bold;
	font-family:ariel, san-serif;
	text-align:center;
	line-height:0;
	border-radius: 0 0 6px 6px;
	cursor:default;
    top:100%;
    margin-top:0;
}

#socialBarOpen p {
	margin-top:-5px;
}
#addHolder {
	position:absolute;
	overflow:hidden;
	width:234px;
	height:68px;
	bottom:0;
	opacity:.8;
	width:100%
}

#addBlock {
	display:none;
	position:absolute;
	overflow:hidden;
	width:234px;
	height:8px;
	bottom:0;
    left:50%;
}

#addBlockOpen {
	background-color:#000;
	color:rgba(255,255,255,.5);
	width:80px;
	height:4px;
	padding:4px 0 0 0;
	left:50%;
	margin:auto;
	font-weight:bold;
	font-family:ariel, san-serif;
	text-align:center;
	line-height:0;
	border-radius: 6px 6px 0 0;
	cursor:default;
}

#addBlockOpen p {
	margin-top:-4px;
}

#infoBack {
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.3);
	z-index:1;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:none;
}

#info {
	height:200px;
	width:330px;
	background-color:#eee;
	color:#333;
	border-radius:12px;
	border:4px solid #eee;
	margin-top:-116px;
	margin-left:-176px;
	position:absolute;
	background-image:url("/web/20151103121127im_/http://horologium.rspct.us/styles/ibig.png");
	background-repeat:no-repeat;
	background-position: 167px 67px;
	overflow: hidden;
	z-index:3;
}

#info  p{
	font-family: Verdana, san-serif;
	font-size: 12px;
}

#info h1 {
	margin-top:0;
}

#info h2{
	font-size:18px;
}

.closeInfo {
	position:fixed;
	z-index:2;
	width:30px;
}

#tabMenu {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	top:0;
}

#tabMenu li {
	display:inline-block;
	height:30px;
	border-top: 0;
	width:45%;
	margin:0 -2px;
	padding:10px;
	text-align:center;
	line-height:30px;;
	font-size:25px;
	border-radius:12px 12px 0 0;
}

li#aboutTab {
	background-color:rgba(200, 200, 200, .7)
}

#privacyTab {
	color:#ccc;
}

#privacy, #about, .tabDiv {
	overflow:auto;
	overflow-x:hidden;
	padding:5px 20px;
	height:140px;
	background-color:rgba(200, 200, 200, .7);
	border-radius: 0 0 12px 12px;
}

#privacy {
	display:none;
}